{% extends "base.html" %}
{% block content %}
    <div class="row">
        <article class="col-9 lh-lg fs-5 mb-3">
            <img src="{{ url_for('static', filename='images/mymusic.svg') }}"
                         class="img-fluid mb-5" alt="myMusic" width="700"
                         loading="lazy">
            <h2>Music Cataloging Made Easy</h2>
            <hr class="featurette-divider">
            <p>
                Organize your personal music library with ease by importing your catalog spreadsheet and letting the
                myMusic engine take care of the rest. Our cataloging service will convert your CSV data to SQL, making
                searching easier, faster and more versatile. Create an account or login to begin.
            </p>
            <hr class="featurette-divider">
        </article>
        {% if current_user.is_authenticated == false %}
            <aside class="col-3">
                <h2>Login</h2>
                <form action="{{ url_for('auth.login') }}" method=post>
                    <dl>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <p><input type=submit value=Login>
                </form>
            </aside>
        {% endif %}

    </div>
{% endblock %}
</article>
